In [7]:
import datetime

import pandas as pd

from fixed_income import data, yieldcurves, plots

pd.options.display.max_columns = None
pd.options.display.max_rows = None

% matplotlib notebook

# Get Treasury data

In [13]:
quote_date = datetime.date(year=2017, month=12, day=12)

df = data.treasury_direct(quote_date)

In [13]:
df[200:205]

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>CUSIP</th>
      <th>SECURITY TYPE</th>
      <th>RATE</th>
      <th>MATURITY DATE</th>
      <th>CALL DATE</th>
      <th>BUY</th>
      <th>SELL</th>
      <th>END OF DAY</th>
      <th>MATURITY</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>201</th>
      <td>912828U65</td>
      <td>MARKET BASED NOTE</td>
      <td>1.750%</td>
      <td>2021-11-30</td>
      <td>NaN</td>
      <td>98.656250</td>
      <td>98.65625</td>
      <td>98.68750</td>
      <td>3.967227</td>
    </tr>
    <tr>
      <th>202</th>
      <td>912828U81</td>
      <td>MARKET BASED NOTE</td>
      <td>2.000%</td>
      <td>2021-12-31</td>
      <td>NaN</td>
      <td>99.562500</td>
      <td>99.56250</td>
      <td>99.59375</td>
      <td>4.052102</td>
    </tr>
    <tr>
      <th>203</th>
      <td>912828G87</td>
      <td>MARKET BASED NOTE</td>
      <td>2.125%</td>
      <td>2021-12-31</td>
      <td>NaN</td>
      <td>100.109375</td>
      <td>100.09375</td>
      <td>100.12500</td>
      <td>4.052102</td>
    </tr>
    <tr>
      <th>204</th>
      <td>912828H86</td>
      <td>MARKET BASED NOTE</td>
      <td>1.500%</td>
      <td>2022-01-31</td>
      <td>NaN</td>
      <td>97.593750</td>
      <td>97.59375</td>
      <td>97.62500</td>
      <td>4.136977</td>
    </tr>
    <tr>
      <th>205</th>
      <td>912828V72</td>
      <td>MARKET BASED NOTE</td>
      <td>1.875%</td>
      <td>2022-01-31</td>
      <td>NaN</td>
      <td>99.015625</td>
      <td>99.00000</td>
      <td>99.06250</td>
      <td>4.136977</td>
    </tr>
  </tbody>
</table>
</div>

# Fit Nelson-Siegel

In [14]:
treasuries = df[df['SECURITY TYPE'].isin(['MARKET BASED BILL', 'MARKET BASED NOTE', 'MARKET BASED BOND'])]

In [15]:
treasuries.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>CUSIP</th>
      <th>SECURITY TYPE</th>
      <th>RATE</th>
      <th>MATURITY DATE</th>
      <th>CALL DATE</th>
      <th>BUY</th>
      <th>SELL</th>
      <th>END OF DAY</th>
      <th>MATURITY</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>912796MG1</td>
      <td>MARKET BASED BILL</td>
      <td>0.000%</td>
      <td>2017-12-14</td>
      <td>NaN</td>
      <td>0.000000</td>
      <td>99.995000</td>
      <td>99.997444</td>
      <td>0.005476</td>
    </tr>
    <tr>
      <th>2</th>
      <td>912796MH9</td>
      <td>MARKET BASED BILL</td>
      <td>0.000%</td>
      <td>2017-12-21</td>
      <td>NaN</td>
      <td>99.972625</td>
      <td>99.972500</td>
      <td>99.975333</td>
      <td>0.024641</td>
    </tr>
    <tr>
      <th>3</th>
      <td>912796MJ5</td>
      <td>MARKET BASED BILL</td>
      <td>0.000%</td>
      <td>2017-12-28</td>
      <td>NaN</td>
      <td>99.946000</td>
      <td>99.945778</td>
      <td>99.949167</td>
      <td>0.043807</td>
    </tr>
    <tr>
      <th>4</th>
      <td>912796RK7</td>
      <td>MARKET BASED BILL</td>
      <td>0.000%</td>
      <td>2018-01-02</td>
      <td>NaN</td>
      <td>99.932042</td>
      <td>99.931750</td>
      <td>99.935556</td>
      <td>0.057496</td>
    </tr>
    <tr>
      <th>5</th>
      <td>912796LC1</td>
      <td>MARKET BASED BILL</td>
      <td>0.000%</td>
      <td>2018-01-04</td>
      <td>NaN</td>
      <td>99.925569</td>
      <td>99.925250</td>
      <td>99.927889</td>
      <td>0.062972</td>
    </tr>
  </tbody>
</table>
</div>

In [16]:
prices = treasuries['END OF DAY']

In [17]:
cashflows, maturities = data.cashflows_matrix(treasuries, quote_date)

In [18]:
nelson_siegel = yieldcurves.NelsonSiegel.from_fit(prices, cashflows, maturities)

/Users/danielmcampos/Documents/Python/fixed-income/src/fixed_income/yieldcurves.py:9: RuntimeWarning: divide by zero encountered in true_divide
  inverse_maturities = (1.0 / maturities)
/Users/danielmcampos/Documents/Python/fixed-income/src/fixed_income/yieldcurves.py:30: RuntimeWarning: overflow encountered in exp
  zeros = np.exp(-maturities * yields)

In [19]:
nelson_siegel

NelsonSiegel(theta0=0.0316,theta1=-0.0118,theta2=0.0010,kappa=8.2685)

In [21]:
fig = plots.term_structure(nelson_siegel, prices, treasuries['MATURITY'], cashflows, maturities, quote_date)

/Users/danielmcampos/Documents/Python/fixed-income/src/fixed_income/yieldcurves.py:9: RuntimeWarning: divide by zero encountered in true_divide
  inverse_maturities = (1.0 / maturities)